@font-face {
    font-family: 'Barlow-Black';
    src: url('../assets/fonts/Barlow-Black.ttf');
}
@font-face {
    font-family: 'Barlow-Regular';
    src: url('../assets/fonts/Barlow-Regular.ttf');
}
@font-face {
    font-family: 'Barlow-SemiBold';
    src: url('../assets/fonts/Barlow-SemiBold.ttf');
}


body{
    margin:0;
    padding:0;
    overflow: auto;
    height: 100%;
}
.container{
    width: 100%;
    display: flex;
    padding: 3rem 0 3rem 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 1440px;
    max-width: 1440px;
    height: 50%;


}

.create-title{
    font-family: 'Barlow-Bold';
    letter-spacing: -0.5px;
}

.card-row{
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    column-gap: 4rem;
    row-gap: 1.5rem;

}

.card{
    /*position: relative;
    border: 1px solid #ddd;
    width: 20%;
    margin-bottom: 4rem;
    border-radius: 10px;
    padding: 15px;
    height: auto;
    max-height: 300px;
    background-color: #fff;
    border: 0px;
    border: 1px solid #ddd;*/
    box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.10);
    
    transition: all 500ms ease-in-out;
    width: 100%;
    height: auto;
    max-height: 30rem;
    border-radius: 15px;
    padding: 20px;
}

.card:hover {

    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
    transition: all 500ms cubic-bezier(0.19, 1, 0.20, 1);
  }

  .cart-area{
      min-height: 55vh;
  }
  


.justify-center{
    display: flex;
    justify-content: center;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.img-fluid{

    height: 100%;
    max-height: 180px;
    width: auto;
}

.btn-hero{
    color: white;
    background-color: black;
    border-radius: 50px;
    outline: 0px;
    border: none;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    border: 3px solid black;
}
.btn-hero:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}


.btn{
    border-radius: 50px;
    outline: 0px;
    border: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.item-img{
    height: 500px;
}

.item-title{
    margin: 0;
    font-family: 'Barlow-Regular';
    font-size: 18px;
    text-align: center;
}

.item-price{
    text-align: center;
    font-family: 'Barlow-SemiBold';
    font-size: 24px;
    margin: 0;
}

.title{
    font-family: 'Barlow-SemiBold';
    font-size: 55px;
}

.description{
    font-family: 'Barlow-Regular';
    font-size: 18px;
    line-height: 2;
    
}
.gt{
    font-family: 'Barlow-Regular';
    font-size: 18px;
}

.price{
    font-family: 'Barlow-SemiBold';
    font-size: 21px;
}

.d-flex-row{
    display:flex;
    flex-direction: row;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
    
}
.col{
    max-width: 50%;
}

.btn-txt{
    font-family: 'Barlow-SemiBold';
    font-size: 18px;
    line-height: 1;
}

.reg-txt{
    font-family: 'Barlow-Regular';
    font-size: 14px;
}

.input-group{
    margin: 1rem;
    display: flex;
    justify-content: center;
    
}

.reg-link{
    font-family: 'Barlow-SemiBold';
    color: black;
    text-decoration: none;
}

.reg-link:hover{
    text-decoration: underline;
}

.input-group input{
    font-family: 'Barlow-Regular';
    font-size: 16px;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    border-radius: 50px;
    border: 1px solid #ddd;
    
    outline: none;
}
.input-group input:focus{
    transition:300ms;
    border: 1px solid black;
}

.form-group{
    width: 30%;
}




.btn-action{
    width: 100%;
    font-family: 'Barlow-SemiBold';
    font-size: 18px;
    background-color: black;
    color: white;
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
   
}

.btn-action:hover{
    cursor: pointer;
    color: black;
    background-color: transparent;
}

.w-100{
    width: 100%;
    max-width: 100%;
}






  .table{
      width: 100%;
  }

  .tr{
      font-family: 'Barlow-Regular';
      font-size: 18px;
  }

  .cart-img{
      width: 120px;
  }

  .hero-title{
      font-family: 'Barlow-Black';
      font-size:80px;
      
  }

  .hero-desc{
      font-family: 'Barlow-Regular';
      font-size: 24px;
      width: 100%;
      max-width: 90%;
      line-height: 1.5;
      color: #a8a8a8;
  }


.justify-end{
    justify-content: flex-end;
}
.justify-space-between{
    justify-content: space-between;
}

.mt-4{
    margin-top: 1rem;
}

.link{
    text-decoration: none;
    color: black;
}

.sec-title{
    font-family: 'Barlow-Bold'; 
     
}

.pd-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cart-item td{
    font-family: 'Barlow-Regular';
}

.delete-btn{
    border:none;
    background-color: transparent;
    font-size: 18px;
 
}
.delete-btn:hover{
    cursor: pointer;
}

.checkout-btn{
    font-family: 'Barlow-SemiBold';
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: black;
    margin-left: 20px;
    margin-right: 100px;
    
}

.checkout-btn:hover{
    cursor: pointer;
    background-color: transparent;
    color:black;
}

.check-group{
    margin-top: 3rem;
}

.text-center{
    text-align: center;
}

.btn-qty{

    font-size: 14px;
    background-color: transparent;
    border: 1px solid black;
    height: 10%;
    
}

.qty-inp{
    width: 10%;
    border: none;
}

.add-btn{
    font-family: 'Barlow-SemiBold';
    font-size: 18px;
    width: 100%;
    margin-top: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color:white;
    border: 2px solid black;
    background-color: black;
}

.add-btn:hover{

    background-color: transparent;
    color:black;

}

.check-sec{
    width: 35%;
}